<IfModule mod_rewrite.c>
    Options -MultiViews
    RewriteEngine On

    # Nếu là thư mục thật hoặc file thật thì không viết lại (để load ảnh, css...)
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteCond %{REQUEST_FILENAME} !-f

    # Chuyển tất cả về index.php
    RewriteRule ^(.+)$ index.php?url=$1 [QSA,L]
</IfModule>